
.h1-hidden {
    display: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 50px;
    line-height: 62px;
    font-weight: 400;
    margin: 0;
}

.header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    background: url(../pictures/background.jpg) no-repeat center;
    background-size: cover;
}

.wrapper{
    width: 1400px;
    margin: 0 auto;
}

.header-top{ 
    max-width: 1200px;
    max-height: 25px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 16px;
    line-height: 20px;
    margin-top: 36px;
}

.header-logo-link {
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    margin: 0;
}

.header-logo-link p{
    margin: 0;
}

.header-nav-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.header-nav-item{
    margin-right: 26px;
    font-size: 16px;
}

.header-phone{
    vertical-align: middle;
}

.main{
    background: #EFE6E4;
}

.main-section {   
    display: flex;
    min-height: 100vh;
    
    
    margin-bottom: 65px;
}



.main-intro {
    display: flex;
    flex-direction: column;
    width: 535px;
    height: 395px;
    margin-left: 185px;
    margin-top: 152px;
}

.main-content{
    margin: 0;
}

.main-link{
    border: 2px solid;
    width: 310px;
    height: 75px;
    background: #CC8B86;
    text-align: center;
    
}

.main-link-a{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px
}