/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* montserrat-500 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserrat-v25-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    font-family: 'Montserrat', 'Arial', sans-serif;;
    font-size: 18px;
    line-height: 30px;
    color: #533738; 
    background: #EFE6E4;
}

.link {
    text-decoration: none;
    color: #533738;
    font-size: 16px;
    line-height: 20px;
}

.link:hover,
link:focus{
    filter: drop-shadow(3px 3px 2px #533738);
}

.button:hover,
button:focus{
    filter: drop-shadow(3px 3px 2px #533738);
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: #533738;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}

.list {
	display: flex;
	flex-wrap: wrap;
    list-style: none;
}

/* header */

.header {
    position: absolute;
    top: 36px;
    width: 100%;
}

.wrapper-header{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
}

.logo-link {
    display: flex;
}

.logo-text{
    margin: auto auto;
}

.header-nav{
    margin: auto 0 auto auto;
}

.header-nav-list{
    margin: 0;
}

.header-nav-item:not(:last-child) {
    margin-right: 29px;
}

.nav-link{
    position: relative;
}

.nav-link::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0; 
    width: 0;
    height: 1px; 
    background-color: #533738;  
    transition: 0.2s; 
}

.nav-link:hover::after,
.nav-link:focus::after {
  width: 100%;
}

.header-phone{
    margin: auto 0 auto 38px;
}

/* hero */

.hero-section{
    background-color: #F9EAE1;
    background-image: url(../pictures/hero_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 152px;
    padding-bottom: 168px;
}

.hero-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1036px;
    margin: 0 auto;
}

.hero-content{
    width: 534px;
}

.hero-title{
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    margin-top: 0;
    margin-bottom: 20px;
}

.hero-text{
    margin-bottom: 25px;
    padding-right: 120px;
}

.hero-link{
    display: inline-block;
    padding: 25px 68px;
    background-color: #CC8B86;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

/* about */

.about-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 21px;
}

.about-title {
    width: 1200px;
    padding-top: 65px;
    padding-bottom: 40px;
}

.about_img {
    margin-right: 63px;
}

.about-text {
    width: 528px;
}

.about-text p:first-child {
    margin-top: 0px;
    margin-bottom: 30px;
}

.about-text p:nth-child(2) {
    margin-bottom: 0;
}

/* advantages */

.advantages {
    background-color: #8D7370;
    color: #FFFFFF;
    margin-bottom: 65px;
}

.advantages-wrapper{
    width: 1038px;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    padding: 85px 0 81px 0;
}

.advantages-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages_stat-number{
    font-size: 50px;
    line-height: 62px;
    margin-bottom: 8px;
}

.advantages_stat-description{
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
}

/* Portfolio */

.portfolio{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.portfolio-list{
    row-gap: 30px;
    column-gap: 20px;
    padding: 0;
    margin: 0;
}

.portfolio-item {
    position: relative;
    height: 451px;
}

.title-portfolio {
    margin: 0 auto 0 0;
}

.title-card{
    width: 270px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
}

.portfolio-text{
    color: #FFFFFF;
    margin-right: 10px;
}

.portfolio-description{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 451px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 35px;
    box-sizing: border-box;
    background-color: rgba(100, 72, 69, 0.8);
    opacity: 1;
    transition: 0.25s;
    padding-top: 86px;
}

.portfolio-item:hover .portfolio-description{
	opacity: 0;
}

.portfolio-button {
    align-self: center;
    font-weight: 500;
    font-size: 30px;
    color: inherit;
    position: relative;
    background-color: transparent;
    border: 0;
    padding-right: 70px;
    padding-left: 0px;
    cursor: pointer;
}

.portfolio-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 2px;
    background-color: #533738;
}
  
  .portfolio-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 98%;
    transform: translate(-50%, -50%) rotate(-135deg);
    width: 8px;
    height: 8px;
    border: 2px solid #533738;
    border-top: none;
    border-right: none;
}

/* team */

.team,
.how-to-do{
    background: #E2C4BA;
}

.team-title{
    padding-top: 50px;
    margin-bottom: 40px;
}

.team-list{
    display: flex;
    justify-content: center;
    padding: 0 0 35px 0;
    margin: 0;
}

.team-unit{
    margin-right: 38px;
    width: 320px;
}

.team-unit:nth-child(3n){
    margin-right: 0;
}


.team-text{
    width: 318px;
    margin: 0;
}

/* how-to-do */

.work-title{
    margin-bottom: 40px;
    padding-left: 44px;
}

.work-wrapper{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.work-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    counter-reset: li;   
}

.work-item{
    position: relative;
    padding-top: 90px;
}

.work-item::before{
    content: counter(li);
    counter-increment: li;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #8D7370;
}

.work-text{
    width: 285px;
    text-align: center;
    margin: 0;
}

/* review */

.review{
    width: 1036px;
    margin: 65px auto;
}

.review-title{
    margin-left: 21px;
}

.review-list{
    padding: 0;
    display: block;
}

.review-wrapper{
    display: flex;
    justify-content: space-between ;
    margin-top: 40px;
    column-gap: 20px;
}

.review-photo{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.review-text{
    width: 400px;
    align-self: center;
}

.review-text-quote{
    margin: 0 0 27px 0;
}



.review-text-quote p{
    margin: 30px 0;
}

.review-text-quote cite{
    font-style: normal;
}

.review-button {
    position: relative;
    width: 72px;
    height: 72px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: none;
    background-color: #CC8B86;
    cursor: pointer;
    align-self: center;
}

.review-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 2px;
    background-color: white;
  }

.review-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%) rotate(-135deg);
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-top: none;
    border-right: none;
}

.review-button-back::after {
    top: 50%;
    left: 38%;
    transform: translate(-50%, -50%) rotate(45deg);
}
/* feedback */

.feedback{
    background-color: #8D7370;
}

.feedback-container{
    width: 1400px;
    margin: 0 auto;
}

.feedback-wrapper {
    margin-left: 182px;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.form {
    width: 508px;
    display: flex;
    flex-direction: column;
}

.form-title{
    margin: 50px auto 20px 0;
    color: #FFFFFF;
}

.form-text{
    margin: 0 50px 44px 0;
    opacity: 0.6;
}

.input-area{
    width: 100%;
    margin-bottom: 34px;
    padding: 0 0 6px 0;
    font-size: 18px;
    line-height: 30px;
    color: #F6EDE9;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #FFFFFF;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #F6EDE9;
}

.form-button{
    padding: 25px 68px;
    background-color: #CC8B86;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #533738;
    border: none;
    cursor: pointer;
}

.map{
    position: relative;
    display: flex;
    width: 590px;
    height: 624px;
}

.map-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: auto;
}

.map-google{
    z-index: 1;
    height: auto;
    border: none;
}

/* footer */

.footer {
    max-width: 1200px;
    margin: 36px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-phone-link{
    margin-right: 42px;
    font-size: 18px;
    line-height: 30px;
}

.address{
    margin-right: auto;
    font-style: normal;
}